<div class="container py-5">
  <h2 class="text-center mb-4 fw-bold">Projects</h2>

  <div class="row g-4 justify-content-center">

    <!-- Project Card -->
    <div class="col-md-4">
      <div class="card h-100 shadow-sm border-0">
        <img src="../../../assets/ecom.png" class="card-img-top" alt="Project image">

        <div class="card-body d-flex flex-column">
          <h5 class="card-title">E-Commerce Web App</h5>
          <p class="card-text text-muted">
            Full-stack e-commerce application built with Angular and Spring Boot.
            Features REST API backend, responsive UI, and Dockerized deployment on AWS EC2.
          </p>

          <div class="mt-auto d-flex gap-2">
            <a href="http://3.139.218.123/products" target="_blank" class="btn btn-primary btn-sm">Live</a>
            <a href="https://github.com/duendeGlizzy/E-commerce-Web-Application/tree/working" target="_blank" class="btn btn-outline-secondary btn-sm">Code</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Project Card -->
    <div class="col-md-4">
      <div class="card h-100 shadow-sm border-0">
        <img src="/assets/Island-site.png" class="card-img-top" alt="Project image">

        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Island Page Prototype</h5>
          <p class="card-text text-muted">
            A static tourist information site prototype for a fictional island. built with html and css.
          </p>

          <div class="mt-auto d-flex gap-2">
            <a href="https://duendeglizzy.github.io/wguD479prototype/index.html" target="_blank" class="btn btn-primary btn-sm">Live</a>
            <a href="https://github.com/duendeGlizzy/wguD479prototype" target="_blank" class="btn btn-outline-secondary btn-sm">Code</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Project Card -->
    <div class="col-md-4">
      <div class="card h-100 shadow-sm border-0">
        <img src="/assets/JobBoard.png" class="card-img-top" alt="Project image">

        <div class="card-body d-flex flex-column">
          <h5 class="card-title">JobBoard</h5>
          <p class="card-text text-muted">
            A full-stack job board application built with Java, Spring Boot, and Thymeleaf. The platform allows users to register and log in, browse job listings, save postings for later, and apply directly through the system. It features server-side rendering with Thymeleaf, secure authentication, and a structured MVC architecture using Spring Boot for scalable backend development.
          </p>

          <div class="mt-auto d-flex gap-2">
            <a href="https://job-portal-production-0ed6.up.railway.app/" target="_blank" class="btn btn-primary btn-sm">Live</a>
            <a href="https://github.com/duendeGlizzy/Job-Portal" target="_blank" class="btn btn-outline-secondary btn-sm">Code</a>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
